/* @import url(https://fonts.googleapis.com/css?family=Roboto); */

html, body, .stage--fullscreen {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    background-color: #547A9C;
}

[type="checkbox"] {
    vertical-align: middle;
}

*:not(input) {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}

.floating_window {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #222222;
    color: white;
    border-radius: 5px;
    box-shadow: -1px 1px 3px black;
}

.floating_window .title_bar {
    width: 100%;
    background-color: #444444;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.floating_window .title {
    display: inline-block;
    padding: 5px;
}

.floating_window .close_button {
    padding: 5px;
    float: right;
}

.floating_window .close_button:hover {
    background-color: #aaaaaa;
}

.tab_button_container {
    margin-top: 5px;
    padding: 0px 5px;
    text-align: center;
}

.tab_button {
    padding: 5px;
    background-color: #444444;
    display: inline-block;
    cursor: pointer;
}

.tab_button:hover {
    background-color: #666666;
}

.tab_button_selected {
    background-color: #666666;
}

.floating_window .tab {
    display: none;
    padding: 5px 10px;
}

#properties {
    width: 225px;
}

.group_header {
    background-color: #666666;
    margin: 5px -5px;
    cursor: pointer;
}

.group_header_arrow {
    margin-left: 2px;
}

.group_content {
    display: none;
}

#contextTab .property_group {
    display: none;
}

.property_group>div>div:not(.group_header) {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
}

.group_content .spacer {
    display: block !important;
}

.group_content>div>select {
    float: right;
}

.group_content>div>input[type="checkbox"] {
    float: right;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.group_content textArea {
    width: calc(100% - 4px);
    height: 75px;
}

.group_content button {
    cursor: pointer;
    color: white;
    background-color: #222222;
    padding: 3px 6px;
    float: right;
}

.group_content button:hover {
    background-color: #666666;
}

.group_content button:focus {
    outline:0;
}

.slider_box {
    margin-top: 10px;
    border-top: 1px solid white;
    position: relative;
}

.slider_box>.dot {
    background-color: #547A9C;
    width: 15px;
    height: 15px;
    border-radius: 100px;
    transform: translate(0, -50%);
    cursor: pointer;
}

.slider_box>.dot:hover {
    background-color: #6E9FCC;
}

.slider_box>label {
    margin-top: 10px;
}

.slider_box label:first-of-type {
    float: left;
}

.slider_box label:last-of-type {
    float: right;
}

.number_box input {
    width: 75px;
    float: right;
    margin-left: 5px;
}

.color_box div {
    width: 20px;
    height: 17px;
    float: right;
    margin-left: 10px;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
}

#toolbox>table {
    width: 100%;
}

.tool_button {
    border: 1px solid #888888;
    text-align: center;
    cursor: pointer;
}

.tool_button:hover {
    background-color: #666666;
}

.tool_button_selected {
    background-color: #666666;
}

#tooltip {
    position: absolute;
    background-color: black;
    border: 1px solid white;
    color: white;
    opacity: 0.9;
    padding: 1px 4px;
}

.big_color_preview_box_outer {
    width: 50%;
    text-align: center;
}

.big_color_preview_box {
    height: 50px;
    border: 2px solid white;
    margin: 5px;
}

.color_picker_button {
    background-color: #444444;
    border: 1px solid #888888;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 5px;
}

.color_picker_button:hover {
    background-color: #666666;
}

.color_picker_button_selected {
    background-color: #888888 !important;
}

#colorPicker #componentsTab canvas {
    margin-bottom: 10px;
    width: 250px;
}

#colorPicker #componentsTab input {
    text-align: center;
    width: 75px;
    margin-right: 4px;
}

#colorPicker #_3DTab canvas {
    width: 250px;
}

#colorPicker #paletteTab table {
    border-spacing: 4px;
    border-collapse: separate;
    margin: 5px -3px;
}

#colorPicker #paletteTab .palette_swatch {
    border-radius: 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: 1px solid white;
}

#colorPicker #mixerTab>div>div {
    margin-top: 5px;
}

#colorPicker #mixerTab>div {
    margin: 5px 0;
}

#colorPicker #mixerTab .mixer_swatch {
    border-radius: 5px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 1px solid white;
    display: inline-block;
}

#colorPicker #swatchesTab {
    width: 250px;
}

#colorPicker #swatchesTab>div {
    margin: 10px 0;
}

#colorPicker #swatchesTab .color_picker_button {
    margin: 10px 0;
}

#colorPicker #swatchesTab #swatches {
    padding: 5px;
}

#colorPicker #swatchesTab .swatch {
    margin-right: 4px;
    border-radius: 5px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border: 1px solid white;
    display: inline-block;
}

#colorPicker #swatchesTab .swatch_close_button {
    background-color: #333333;
    color: white;
    cursor: pointer;
    position: relative;
    top: -9px;
    display: none;
    width: 10px;
    font-family: monospace;
    left: 18px;
    padding-left: 3px;
    padding-bottom: 2px;
    border-radius: 20px;
}

#colorPicker #swatchesTab .swatch_close_button:hover {
    background-color: #555555;
}

#mainMenu {
    width: 100%;
    background-color: #333333;
    position: absolute;
    padding-left: 2px;
    top: 0;
    left: 0;
}

#mainMenu>div {
    display: inline-block;
}

.main_menu_button {
    padding: 5px;
    color: white;
    cursor: pointer;
}

.main_menu_button:hover {
    background-color: #555555;
}

.main_menu_button_selected {
    background-color: #555555;
}

.main_menu_items {
    display: none;
    background-color: rgb(34, 34, 34);
    position: absolute;
    min-width: 100px;
    padding: 5px 0;
}

.main_menu_item {
    padding: 5px;
    display: inline-block;
    color: white;
    cursor: pointer;
    padding-right: 10px;
}

.main_menu_item:hover {
    background-color: #555555;
}

.main_menu_item>input[type="checkbox"] {
    width: 15px;
    height: 15px;
    cursor: pointer;
}

#commandPalette {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 5px;
    background-color: black;
    border: 1px solid #aaaaaa;
    width: 350px;
    max-width: 90%;
    border-radius: 5px;
    box-shadow: -1px 1px 3px black;
}

#commandPalette #suggestedCommands {
    max-height: 400px;
    overflow-y: auto;
}

#commandPalette input {
    background-color: #555555;
    border: 1px solid #aaaaaa;
    color: white;
    padding: 4px;
    font-family: monospace;
    width: calc(100% - 10px);
}

#commandPalette .suggestedCommand:first-of-type {
    margin-top: 4px;
}

#commandPalette .suggestedCommand {
    background-color: #222222;
    color: #ccc;
    padding: 5px 2px 5px 4px;
    font-family: monospace;
    cursor: pointer;
}

#commandPalette .suggestedCommand:hover {
    background-color: #333333;
}

#commandPalette .suggestedCommandSelected {
    background-color: #5287BB !important;
}