/* @import url(https://fonts.googleapis.com/css?family=Roboto); */

html, body, .stage--fullscreen {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    background-color: #7ab1e3;
}

[type="checkbox"]
{
    vertical-align:middle;
}

.no_select {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
  }

.floating_window {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #222222;
    color: white;
    border-radius: 5px;
    box-shadow: -1px 1px 3px black;
}

.floating_window .title_bar {
    width: 100%;
    background-color: #444444;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.floating_window .title {
    display: inline-block;
    padding: 5px;
}

.floating_window .close_button {
    padding: 5px;
    float: right;
}

.floating_window .close_button:hover {
    background-color:#aaaaaa;
}

.tab_button_container {
    margin-top: 5px;
    padding: 0px 5px;
}

.tab_button {
    padding: 5px;
    background-color: #444444;
    display: inline-block;
    cursor: pointer;

}

.floating_window .tab {
    display: none;
    padding: 5px 10px;
}

.group_header {
    background-color: #666666;
    margin: 5px -5px;
    cursor: pointer;
}

.group_header_arrow {
    margin-left: 2px;
}

.group_content {
    display: none;
}

#contextTab .property_group {
    display: none;
}

 .property_group > div > div:not(.group_header) {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
}

.group_content .spacer {
    display: block !important;
}

.number_box input {
    width: 75px;
    float: right;
    margin-left: 5px;
}

.color_box input {
    width: 20px;
    float: right;
    margin-left: 10px;
    background-color: red;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
}

#toolbox > table {
    width:100%;
}

.tool_button {
    border: 1px solid #888888;
    text-align: center;
    cursor: pointer;
}

.tool_button:hover {
    background-color: #666666;
}

.tool_button_selected {
    background-color: #666666;
}

#tooltip {
    position: absolute;
    background-color: black;
    border: 1px solid white;
    color: white;
    opacity: 0.9;
    padding: 1px 4px;
}

.big_color_preview_box_outer {
    width: 50%;
    text-align: center;
}

.big_color_preview_box {
    height: 75px;
    background-color: red;
    border: 2px solid white;
    margin: 5px;
}

#colorPicker #wheelTab canvas {
    width: 200px;
}

#colorPicker #componentsTab canvas {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
}

#colorPicker #componentsTab input {
    text-align: center;
    width: 75px;
}

#colorPicker #_3DTab canvas {
    width: 250px;
}